/*!

=========================================================
* Argon Dashboard PRO - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

// Bootstrap functions
@import "bootstrap/functions";
@import "bootstrap/mixins";

// Argon functions
@import "custom/functions";
@import "custom/variables";
@import "bootstrap/variables";

// Argon mixins
@import "custom/mixins";

//Bootstrap components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "core/tables/table";
@import "core/tables/table-sortable";
@import "core/shortcuts/shortcut";
@import "core/navbars/navbar";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "core/navbars/navbar-vertical";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
@import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
@import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/utilities";
// @import "bootstrap/print";

// Argon components
// @import "custom/components";
// @import "custom/utilities";
// @import "custom/vendors";

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}

.g-sidenav-hidden .navbar-vertical .navbar-nav .nav-link > svg {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  min-width: 1rem;
}
.g-sidenav-show .navbar-vertical .navbar-nav .nav-link > svg {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  min-width: 2rem;
}

// .collapse:not(.show) {
//   display: none;
// }
.g-sidenav-show .sidenav .nav-item .collapse {
  height: 0;
  overflow-y: hidden;
  transition: height 1000000s ease;
}
.g-sidenav-show .sidenav .nav-item .collapse.show {
  height: auto;
}
.nav-link.nivel-1.active svg {
  color: #0a2d91 !important;
}

.nav-link.nivel-1.active .nav-link-text {
  color: #32325d;
  font-weight: 600;
}

.sidenav {
  overflow-x: hidden;
}
.main-content {
  padding: 0;
}
.boton-acciones-rapidas {
  background: #ffffff !important;
  border: 1px solid white;
  color: #0a48b2;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  margin: 10px 0;
  cursor: pointer;
}

.avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 0.375rem;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.avatar-sm {
  font-size: 0.875rem;
  width: 36px;
  height: 36px;
}
.rounded-circle,
.avatar.rounded-circle img {
  border-radius: 50% !important;
}

.dropdown-menu .dropdown-item {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.dropdown-menu .dropdown-item > i,
.dropdown-menu .dropdown-item > svg {
  font-size: 1rem;
  margin-right: 1rem;
  vertical-align: -10%;
}
.dropdown-menu .dropdown-item > i,
.dropdown-menu .dropdown-item > svg {
  font-size: 1rem;
  margin-right: 1rem;
  vertical-align: -10%;
}

.breadcrumb-links {
  margin: 0;
  padding: 0;
  background: transparent;
}

.breadcrumb-dark .breadcrumb-item {
  color: rgba(255, 255, 255, 0.95);
}
.breadcrumb-dark .breadcrumb-item {
  font-weight: 600;
}

.breadcrumb-dark .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.95);
}

.breadcrumb-dark .breadcrumb-item.active {
  color: #a7c1ff;
}

.footer {
  padding: 30px 0;
  background: #f8f9fe;
}

.text-orange {
  color: #ff8000 !important;
}

.card .table {
  margin-bottom: 0;
}

tr {
  position: relative;
}

.table thead th {
  font-size: 0.65rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #e9ecef;
}
.card .table td,
.card .table th {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.badge {
  font-size: 66%;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  padding: 0.35rem 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 0.375rem;
  border-radius: 100px;
}

.badge-info {
  color: #00a6c3;
  background: #fff;
  border: 1px solid #00a6c3;
}
tr,
td {
  position: relative;
}
tr td.acciones-2 {
  display: none;
  position: absolute;
  right: 10px;
  padding: 0 !important;
  margin: 0;
}
tr td.acciones-2 .accion {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: white;
  margin-bottom: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

tr:hover td.acciones-2 {
  display: block;
}

tr td.acciones-2 .accion2 svg {
  font-size: 15px;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dropdown-menu-lg {
  min-width: 320px;
  border-radius: 0.4375rem;
}

.navbar:not(.navbar-nav-hover) .dropdown-menu.show {
  animation: show-navbar-dropdown 0.25s ease forwards;
  pointer-events: auto;
  opacity: 1;
}

.dropdown-custom {
  background-color: #ffffff !important;
}

.enlace-tipo-2 {
  line-height: 18px;
}

.enlace-tipo-2 span {
  background: #0a48b2;
}

.modal {
  z-index: 100;
  display: block;
  padding-right: 17px;
}

.modal-background {
  background-color: rgba(#0a48b2, 0.8);
}

.modal-mediano-2 {
  width: 650px;
  max-width: 650px;
}

.modal-content-2 {
  background-color: #f8f9fe;
}

.custom-modal-header {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-modal-title {
  font-size: 1.0625rem;
}

.close {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  float: right;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none;
  transition: all 0.15s ease;
}
button.close {
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.card-instrucciones {
  margin-bottom: 30px;
}

.card-instrucciones .card-header {
  box-shadow: none !important;
  border: 1px dashed #8e9dad;
  border-radius: calc(0.375rem - 1px);
}
.modal-body p {
  white-space: normal;
}
.text-sm {
  font-size: 0.875rem !important;
}
.MuiFormControl-root {
  width: 100%;
  border-radius: 0.25rem;
}
.MuiInputBase-root {
  height: 100%;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 15px;
}
.MuiInput-underline {
  background-color: #fff;
  width: 100%;
}
.MuiInput-underline:before {
  display: none;
}
.MuiInputBase-root input {
  font-size: 0.875rem;
  color: #8898aa !important;
}

.MuiPickersBasePicker-container {
  z-index: 999;
}

.badge-dot {
  font-size: 0.875rem;
  font-weight: 400;
  padding-right: 0;
  padding-left: 0;
  text-transform: none;
  background: transparent;
}

.badge-dot i {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.675rem;
  vertical-align: middle;
  border-radius: 50%;
}

.bg-green {
  background-color: #2dce89 !important;
}

.card {
  margin-bottom: 40px;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.375rem;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0rem -0.5rem 2rem 0 rgba(136, 152, 170, 0.25) !important;
}

.table-sm th,
.table-sm td {
  padding: 0.8125rem;
}

.text-green {
  color: #2dce89 !important;
}

.g-sidenav-show .sidenav {
  @media screen and (min-width: 1200px) {
    max-width: 250px;
  }
}
.card-gray {
  box-shadow: none !important;
  border: 1px solid #cfd8e2;
  border-radius: calc(0.375rem - 1px);
  background-color: #f8f9fe;
}

.timeline:before {
  @media screen and (min-width: 992px) {
    left: 50%;
    margin-left: -2px;
  }
}
[data-timeline-axis-style="dashed"]:before {
  border-right-style: dashed !important;
}
.timeline:before {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  content: "";
  border-right: 2px solid #e9ecef;
}
.timeline-one-side:before {
  left: 1rem;
}
.timeline-block {
  position: relative;
  margin: 2em 0;
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-step {
  font-size: 0.8125rem;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  left: 0;
  display: inline-flex;
  width: 28px;
  height: 28px;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.badge-gray-2 {
  color: #8898aa !important;
  background: #ffffff !important;
  border: 1px solid #8898aa !important;
}
.timeline-content {
  position: relative;
  position: relative;
  top: -6px;
  margin-left: 60px;
  padding-top: 0.5rem;
}
.timeline-one-side .timeline-content {
  width: auto;
  @media screen and (min-width: 992px) {
    max-width: 30rem;
  }
}

.badge-azul {
  color: #256ae4;
  background: #fff;
  border: 1px solid #256ae4;
}

.badge-morada {
  color: #b638cc;
  background: #fff;
  border: 1px solid #b638cc;
}

.bg-orange {
  background-color: #ff8100 !important;
}

.bg-red {
  background-color: #f5365c !important;
}
.bg-gray {
  background-color: #8898aa !important;
}
.bg-default {
  background-color: #06186d !important;
}
.header {
  position: relative;
}
.separator-skew {
  @media screen and (min-width: 1200px) {
    height: 70px;
  }
}
.separator {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 150px;
  transform: translateZ(0);
  pointer-events: none;
}
.input-group-no-wrap {
  flex-wrap: nowrap;
}

.bg-yellow {
  background-color: #ffbc00;
}

.barra-footer-fija {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, 0.2);
  z-index: 9;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
}
.barra-footer-fija .izquierda {
  margin-left: 280px;
}

.barra-footer-fija .derecha {
  margin-right: 2rem;
}

.avatar-xs {
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
}

.border-red {
  border: solid 1px red;
}
